body {
  font: 12px/150% tahoma, arial, Microsoft YaHei, Hiragino Sans GB, "\u5b8b\u4f53", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background: #f5f5f5;
}
input {
  outline: medium;
}
.w-1200 {
  width: 1200px;
  margin: 20px auto 0;
}
/*侧边栏书写格式*/
.sidebar {
  width: 200px;
}
.bar-list {
  background-color: #fff ;
  padding-bottom: 30px;
}
.bar-list .bar-title {
  width: 100%;
  height: 49px;
  border-bottom: 1px solid #00843e;
  font: 700 16px/49px "微软雅黑";
  text-align: center;
}
.h-88{
	height: 88px;
}
.bar-list .bar-itme .itme-hint {
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.bar-list .bar-itme ul li.itme-box {
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.bar-list .bar-itme ul li.itme-box .itme-rox {
  display: block;
  width: 100%;
  height: 30px;
  color: #333;
  font-size: 12px;
}
.bar-list .bar-itme ul li.itme-box a.itme-rox:hover,
.bar-list .bar-itme ul li.itme-box .itmehover {
  color: #00843e;
  background-color: #daece3 ;
}
/*个人信息*/
.message {
  width: 980px;
  background-color: #fff;
}
.message .mes-title {
  height: 49px;
  border-bottom: 1px solid #959595;
  text-align: left;
  font: 14px/49px "微软雅黑";
}
.message .mes-form {
  padding: 30px 20px;
  width: 50%;
  box-sizing: border-box;
}
.message .mes-form .mes-contbox {
  margin-top: 20px;
  position: relative;
}
.mes-ogo-file{
	width: 86px;
	height: 86px;
	border: 1px solid #ccc;
	position: absolute; 
	left: 90px;
	top:0;
	z-index: 3;
	cursor: pointer;
}
.mes-contbox input[type="file"]{
	width: 88px;
	height: 88px;
	position: absolute;
	top: 0;
	left: 90px;
	z-index: 2;
	opacity: 0;
  filter: alpha(opacity=0);
	overflow: hidden;
}
.mes-contbox img{
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.message .mes-form .mes-contbox label {
  width: 70px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  display: block;
  float: left;
  margin-right: 20px;
}
.message .mes-form .mes-contbox span{
	float: left;
	margin-right: 10px;
}
.message .mes-form .mes-contbox input[type="radio"]{
	float: left;
}
.message .mes-form .mes-contbox em{
	display: inline-block;
	height: 26px;
	line-height: 26px;
	margin-right: 10px;
}
.message .mes-form .mes-contbox a{
	color: #00843E;
}
.message .mes-form .mes-contbox em i{
	color: #666;
	margin-right: 10px;
}
.message .mes-form .mes-contbox .mes-input {
  width: 190px;
  height: 22px;
  padding: 0 5px;
}
.message .mes-form .mes-contbox .mes-textarea {
  width: 350px;
  height: 55px;
}
.message .mes-form .mes-contbox .select {
  width: 55px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.message .mes-form .mes-contbox .msg-xiang {
  height: 28px;
  line-height: 28px;
  text-align: center;
}
.message .mes-form .mes-submit {
  display: block;
  width: 100px;
  height: 30px;
  border: 1px solid #00843e;
  text-align: center;
  line-height: 30px;
  color: #00843e;
  margin-top: 24px;
  font-size: 12px;
  background-color: #daece3;
}
.message .mes-form .mes-padding {
  padding-left: 90px;
}
.mes-box {
  padding: 0 20px 0px 20px;
  height: 600px;
}
/**/
.order {
  background: #fff;
  width: 980px;
}
.order .order-itme {
  padding: 20px 20px;
}
.order .order-header {
  height: 24px;
  line-height: 24px;
  font-size: 14px;
}
.order .order-header .order-nav {
  width: 530px;
}
.order .order-header .order-nav a {
  color: #333;
  margin-right: 20px;
}
.order .order-header .order-nav a.hover,
.order .order-header .order-nav a:hover {
  color: #f2951f;
  font-weight: 700;
}
.order .order-header .order-input {
  width: 150px;
  padding: 2px;
}
.order .order-crumbs {
  margin-top: 20px;
}
.order .order-crumbs label {
  padding-left: 10px;
}
.order .order-crumbs .order-itmebox {
  display: inline-block;
  width: 86px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px ;
  border-radius: 2px;
  margin-left: 10px;
  _margin-left: 5px;
  color: #333;
}
.order .order-crumbs .order-itmepage {
  display: inline-block;
  width: 60px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px ;
  border-radius: 2px;
  margin-left: 10px;
  _margin-left: 5px;
  color: #333;
}
.order-itab {
  width: 940px;
  margin-top: 10px;
  table-layout: fixed;
  margin-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
.order-itab .order-td {
  width: 940px;
  height: 30px;
  background: #f5f5f5;
  vertical-align: middle;
  text-align: left;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #f5f5f5;
  border-bottom-color: transparent ;
}
.order-itab table {
  width: 100%;
}
.order-itab tr.order-tr {
  border: 1px solid #f5f5f5;
  border-top-color: transparent;
  width: 938px;
}
.order-itab tr.order-tr td.itme-td {
  width: 360px;
  position: relative;
}
.order-itab tr.order-tr td.itme-td input[type="checkbox"] {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -6px;
}
.order-itab tr.order-tr td {
  text-align: center;
  vertical-align: middle;
}
.order-itab tr.border-topcolor {
  border-top-color: #f5f5f5;
}
.order-itab .logue-boxsize {
  width: 940px;
  background-color: #f5f5f5 ;
  height: 30px;
}
.order-itab .logue-boxsize td {
  vertical-align: middle;
  text-align: center;
}
.order-itab .td-img {
  width: 88px;
  height: 84px;
  border: 1px solid #f5f5f5;
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.order-itab .td-img img {
  width: 100%;
  height: auto;
}
.order-itab .m-l-30 {
  margin-left: 30px;
  _margin-left: 15px;
}
.order-itab .td-parameter {
  float: left;
  display: table-cell;
  width: 202px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
}
.order-itab .td-parameter a {
  color: #3c3c3c;
  line-height: 16px;
}
.order-itab .td-parameter a.c388be8 {
  color: #388BE8;
}
.order-itab .td-parameter span.order-referral {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.order-itab .td-parameter p.order-canshu {
  margin-top: 8px;
  color: #9e9e9e;
}
.order-itab .m-t-35 {
  margin-top: 35px;
}
.order-itab .td-number {
  display: inline-table;
  vertical-align: middle;
  margin-top: 50px;
  text-align: left;
}
.order-itab .order-subbox {
  display: block;
  color: #333;
}
.order-itab .order-submit {
  width: 86px;
  height: 20px;
  border: 1px solid #00843e;
  color: #00843e;
  margin: 0 auto 5px;
}
.order-itab a.lugue-color:hover {
  color: #00843e;
  text-decoration: underline;
}
.order-itab .lugue-color {
  color: #388be8;
}
.order-table {
  width: 940px;
  height: 30px;
  margin-top: 10px;
}
.order-table table {
  width: 100%;
  height: 30px;
  background: #f5f5f5;
}
.order-table td {
  text-align: center;
  vertical-align: middle;
}
.order-pages {
  width: 980px;
  padding-top: 20px;
}
.page-title {
  color: #00843e;
  font-size: 14px;
  padding-left: 20px;
}
.page-itmebox {
  background: #fff;
  padding: 20px 22px;
  margin-top: 20px;
  display: -webkit-flex;
  display: flex;
}
.page-itmebox h4 {
  font-size: 14px;
  margin-bottom: 14px;
  width: 100%;
}
.page-itmebox .page-l {
  width: 50%;
}
.page-itmebox .page-itmeboxlist li {
  padding-left: 20px;
  font-size: 12px;
  margin-top: 10px;
  line-height: 12px;
}
.page-itmebox li.page-lineheight {
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.pagecolor {
  color: #00843e;
}
.page-itmeboxs {
  background: #fff;
  padding: 20px 22px;
  margin-top: 20px;
}
.page-itmeboxs h4 {
  font-size: 14px;
  margin-bottom: 14px;
  width: 100%;
}
.pagr-rightbottome {
  float: right;
  width: 300px;
}
.pagr-rightbottome table {
  width: 100%;
  text-align: right;
}
.pegebox-sit {
  display: block;
  width: 86px;
  height: 20px;
  border: 1px solid #00843e;
  color: #00843e;
  text-align: center;
  margin-top: 10px;
  float: right;
}
.logistics {
  border: 1px solid #F5F5F5;
  margin-top: 20px;
}
.log_lt {
  width: 360px;
  background: #F5F5F5;
  padding: 36px 25px;
  float: left;
  box-sizing: border-box;
}
.log_lt .log_lt_img {
  width: 88px;
  height: 88px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}
.log_rt_p p {
  margin-bottom: 8px;
  font-size: 12px;
  color: #333333;
  line-height: 12px;
}
.log_details {
  float: right;
  width: 570px;
}
.log_details .status-box {
  padding: 20px 10px 20px 20px;
  position: relative;
  overflow: hidden;
}
.log_details .status-box ul {
  height: 120px;
  overflow-x: auto;
}
.log_details .status-box ul li {
  margin-bottom: 10px;
}
.log_details .status-box ul li span {
  font-size: 12px;
  color: #333;
  display: inline-block;
  text-align: left;
  line-height: 16px;
}
.log_details .status-box ul li span.data {
  width: 100px;
}
.log_details .status-box ul li span.time {
  width: 80px;
}
.log_details .status-box ul li span.text {
  width: 340px;
  vertical-align: top;
}
.estimate {
  width: 980px;
}
.mate-box {
  width: 260px;
  overflow: hidden;
}
.shop-message {
  padding: 20px;
  background-color: #fff ;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.shop-message h4 {
  font-size: 14px;
}
.shop-message h4.font-16 {
  font-size: 16px;
}
.w-700 {
  width: 700px;
}
.shop-basic {
  padding: 10px 20px;
}
.shop-basic h3 {
  font-size: 16px;
}
.shop-basic p {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shop-basic p.m-t-0 {
  margin-top: 0;
}
.shop-basic ul li {
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.shop-basic ul li a {
  color: #333;
}
.shop-basic .shop-xing {
  display: inline-block;
  width: 62px;
  background: url(../images/seval.png) no-repeat;
  height: 13px;
  margin-right: 180px;
  float: left;
  margin-top: 5px;
}
.shop-basic .shop-progress {
  display: inline-block;
  width: 360px;
  height: 20px;
  position: relative;
}
.shop-basic .shop-progress .pro-one {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  z-index: 1;
}
.shop-basic .shop-progress .pro-two {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 20px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #f3bb6c;
  z-index: 2;
}
.shop-basic .shop-eval {
  margin-bottom: 12px;
}
.shop-basic .shop-table {
  width: 360px;
  float: right;
  text-align: center;
}
.shop-basic .shop-table th,
.shop-basic .shop-table td {
  width: 20%;
}
.shop-basic .shop-p {
  width: 100%;
  text-align: right;
  margin-top: 0;
}
.c388be8 {
  color: #388be8;
}
.cf18f03 {
  color: #f18f03;
}
.m-t-20 {
  margin-top: 20px;
}
.shop-tablerng {
  width: 100%;
  text-align: center;
  border: 1px solid #f5f5f5;
  border-bottom-color: transparent;
  margin-top: 10px;
}
.shop-tablerng tr {
  border-bottom: 1px solid #f5f5f5;
}
.shop-tablerng tr th {
  background: #f5f5f5;
}
.shop-tablerng th,
.shop-tablerng td {
  height: 29px;
  vertical-align: middle;
}
.shop-trouble {
  width: 100%;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.shop-trouble .ble-tag {
  font-size: 14px;
  height: 34px;
  border-bottom: 2px solid #00843e;
}
.shop-trouble .ble-tag a {
  margin-right: 20px;
  color: #333;
}
.shop-trouble .ble-tag a:hover,
.shop-trouble .ble-tag a.tagbg {
  color: #f18f03;
}
.shop-trouble table {
  width: 100%;
  text-align: center;
}
.shop-trouble table th {
  height: 40px;
  vertical-align: middle;
}
.shop-trouble table .tag-zbox {
  text-align: left;
  margin-left: 20px;
  padding-left: 20px;
}
.shop-trouble table .tag-zbox a {
  display: inline-block;
  width: 42px;
  height: 20px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #333;
}
.shop-trouble table tr {
  border-bottom: 1px solid #f5f5f5;
}
.shop-trouble table td {
  padding: 20px 0;
  vertical-align: middle;
}
.shop-trouble table .padding-l-20 {
  padding-left: 20px;
}
.shop-trouble table .ble-character {
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.shop-trouble table .tm-photos-thumb {
  margin: 10px 0;
  list-style-type: none;
  height: 40px;
}
.shop-trouble table .tm-photos-thumb li {
  float: left;
  border: 2px solid #f2f2f2;
  padding: 2px;
  margin-right: 8px;
  position: relative;
  transition: border-color 0.2s ease-out;
}
.shop-trouble table .tm-photos-thumb img {
  display: block;
  width: 40px;
  height: 40px;
}
.shop-trouble .ble-reply {
  display: inline-block;
  width: 42px;
  height: 20px;
  border: 1px solid #00843e;
  -webkit-border-radius: 2px ;
  border-radius: 2px;
  text-align: center;
  line-height: 20px;
  color: #00843e;
}
.shop-trouble .ble-box {
  position: relative;
  padding-left: 105px;
}
.shop-trouble .ble-box .ble-l {
  position: absolute;
  left: 0;
  top: 0;
  width: 104px;
  height: 50px;
  color: #999;
}
.rate-paginator {
  margin-top: 20px;
  text-align: right;
  padding: 20px 0 10px;
  margin-right: 30px;
}
.rate-paginator span,
.rate-paginator a {
  display: inline-block;
  vertical-align: top;
  height: 27px;
  line-height: 27px;
  padding: 5px 12px;
  border: 1px solid #e5e5e5;
  border-width: 1px 1px 1px 1px;
  color: #999;
  font-size: 14px;
}
.rate-paginator a.hover {
  color: #fff;
  background-color: #00843e ;
}
.rate-paginator em {
  display: inline-block;
  height: 27px;
  line-height: 27px;
  padding: 5px;
}
.rate-paginator em input {
  width: 19px;
  height: 13px;
  margin-left: 5px;
  margin-right: 5px;
}
.rate-paginator a.rate-submit {
  width: 36px;
  padding: 1px 0;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 12px;
  color: #333;
  line-height: 12px;
  height: 16px;
  line-height: 16px;
  margin-top: 8px;
}
.chant {
  width: 980px;
}
.chant .chant-we {
  padding: 20px;
  background-color: #fff ;
}
.chant .we-img {
  width: 88px;
  height: 88px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-image: url(../images/timg.png);
  margin-right: 18px;
}
.chant .we-table {
  width: 830px;
}
.chant .we-table table {
  width: 100%;
}
.chant .we-table th.we-name {
  font-size: 16px;
}
.chant .we-table th {
  font-size: 14px;
}
.chant .we-table td {
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
}
.chant .we-table td.we-align {
  text-align: left;
}
.chant .we-table .we-rmb {
  font-size: 18px;
  font-family: arial;
  line-height: 20px;
}
.chant .we-table .we-deposit {
  display: inline-block;
  padding: 2px 10px;
  background-color: #00843e;
  color: #fff;
  margin-left: 5px;
}
.chant .we-ul {
  padding-left: 26px;
}
.chant .we-ul li {
  float: left;
  width: 106px;
  margin-right: 16px;
}
.chant .we-ul li span {
  color: #c6c6c6;
}
.chant .w-480 {
  width: 480px;
}
.chant .w-480 em {
  float: right;
}
.chant .we-shopbas li {
  float: left;
  width: 96px;
  text-align: left;
  margin-right: 5px;
}
.chant .we-shops-h {
  height: 110px;
  overflow: hidden;
}
.group-table {
  width: 100%;
}
.group-table tr.group-tr {
  background-color: #f5f5f5;
  width: 100%;
  height: 30px;
}
.group-table tr.group-tr td {
  vertical-align: middle;
  text-align: center;
}
.group-table .m-t-40 {
  margin-top: 40px;
}
.td-box-img {
  width: 58px;
  height: 58px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #f5f5f5;
  float: left;
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: url(../images/timg.png) no-repeat;
}
.order-mbsl select {
  width: 110px;
  height: 20px;
  text-align: center;
  outline: medium;
  font-size: 12px;
  margin-top: -2px;
}
.order-mbsl .order-sub {
  padding: 2px 4px;
  border: 1px solid #ccc;
  color: #333;
}
.group-itmex {
  display: block;
  text-align: center;
  width: 86px;
  height: 20px;
  border: 1px solid #00843e;
  color: #00843e;
  line-height: 20px;
}
.order-pos {
  position: relative;
}
.order-bg-alert {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
}
.order-bg-alert .order-bgbox {
  width: 800px;
  margin: 100px auto 0;
}
.order-bg-alert .order-bgbox h3 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #e5e5e5 ;
  position: relative;
  font-size: 14px;
  padding: 0 10px;
}
.order-bg-alert .order-bgbox h3 .itmeclose {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/false.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
}
.order-bg-alert .order-bgbox .alert-bgbox {
  width: 100%;
}
.alert {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
}
.alert .alert-box {
  width: 400px;
  height: 320px;
  background: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.alert h3 {
  width: 400px;
  height: 30px;
  line-height: 30px;
  background-color: #e5e5e5 ;
  position: relative;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
}
.alert h3 .itmeclose {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/false.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
}
.alert .bgboxitme {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.alert .bgboxitme p.m-t-10 {
  margin-top: 10px;
}
.alert .bgboxrng {
  padding-left: 40px;
  padding-top: 20px;
}
.alert .rng-it {
  margin-bottom: 10px;
}
.alert .rng-it label {
  display: inline-block;
  width: 120px;
  text-align: left;
  line-height: 23px;
}
.alert .rng-it input {
  width: 80px;
  padding: 2px 10px;
}
.alert .font-14 {
  font-size: 14px;
}
.alert .rng-it-r {
  display: inline-block;
  width: 120px;
  color: #999;
  float: right;
  margin-top: 10px;
}
.alert .ogb-submit {
  display: block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
  background-color: #00843e;
  text-align: center;
  margin: 30px auto 0;
}
.logue-order {
  padding-left: 15px;
  height: 22px;
  line-height: 22px;
}
.logue-order select {
  width: 114px;
  margin-right: 5px;
  padding: 1px;
  outline: medium;
}
.logue-order input[type="text"] {
  width: 38px;
  padding: 2px;
  border: none;
  border: 1px solid #ccc;
  margin-right: 5px;
}
.logue-order .logue-sep {
  display: inline-block;
  padding: 0 5px 0 0;
}
.logue-order .logue-submit {
  border: none;
  background: none;
  margin-left: 44px;
  _magin-left: 22px;
  cursor: pointer;
  white-space: nowrap;
  border: 1px solid #cccccc;
}
.cata-click {
  display: inline-block;
  width: 17px;
  height: 13px;
}
.checkbg-true {
  background: url(../images/checkbox000000000true.png) no-repeat;
}
.checkbg-false {
  background: url(../images/checkbox0000000false.png) no-repeat;
}
.stics {
  width: 980px;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #fff ;
  position: relative;
}
.stics-itme h4 {
  padding-left: 10px;
  font-size: 14px;
  color: #333;
  height: 20px;
  line-height: 20px;
}
.stics-itme h4 i {
  display: inline-block;
  height: 16px;
  width: 2px;
  background-color: #333 ;
  margin-top: 2px;
  margin-right: 5px;
  float: left;
}
.stics-nav {
  height: 23px;
  border-bottom: 1px solid #ccc;
  padding: 0 20px;
  margin-top: 20px;
}
.stics-nav .stics-a {
  display: inline-block;
  padding: 5px 6px 4px 6px;
  font-size: 12px;
  line-height: 12px;
  color: #333;
  background-color: #e5e5e5;
  margin-right: 10px;
  border: 1px solid transparent;
}
.stics-nav a:hover,
.stics-nav .a-hover {
  padding: 5px 6px 5px 6px;
  border: 1px solid #ccc;
  border-bottom-color: #fff;
  background: #fff;
}
.stics-itmebox ul {
  padding: 18px 20px;
}
.stics-itmebox ul li {
  float: left;
  height: 24px;
  line-height: 24px;
}
.stics-itmebox ul li .stics-selbox {
  border: none;
  border: 1px solid #ccc;
  padding: 2px 20px;
  margin-right: 30px;
  width: 120px;
}
.button {
  width: 46px;
  height: 22px;
  color: #333;
  border: 1px solid #ccc;
  line-height: 22px;
  background-color: #fff;
  cursor: pointer;
}
.oga-ogz {
  padding-left: 20px;
  height: 24px;
  line-height: 24px;
}
.oga-ogz label {
  float: left;
  margin-right: 20px;
}
.oga-ogz .oga-button {
  float: left;
  border: none;
  background-color: #fff;
  width: 100px;
  height: 24px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.oga-table {
  width: 100%;
  margin-top: 10px;
}
.oga-table tr {
  border: 1px solid #ccc;
}
.oga-table tr th {
  height: 30px;
  vertical-align: middle;
  text-align: center;
  background-color: #e6e6e6;
}
.oga-table tr td {
  vertical-align: middle;
  text-align: center;
}
.oga-table td.oga-pos {
  position: relative;
  padding: 25px 0 25px 20px;
  height: 50px;
  text-align: left;
  width: 400px;
}
.oga-table .oga-img {
  display: inline-block;
  width: 129px;
  height: 49px;
  border: 1px solid #ccc;
  position: absolute;
  top: 50%;
  margin-top: -25px;
}
.oga-table .oga-em {
  display: inline-block;
  margin-left: 140px;
  color: #333;
}
.oga-block {
  display: block;
  margin-top: 5px;
}
.oga-color {
  color: #388be8;
}
a.oga-link:hover {
  color: #00843e;
  text-decoration: underline;
}
.display-box {
  padding-bottom: 30px;
  display: none;
}
.oga-submit {
  display: inline-block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  background-color: #00843e;
}
.oga-carriage {
  width: 900px;
  padding: 0 20px;
  margin-top: 30px;
}
.oga-carriage table {
  width: 100%;
  border: 1px solid #ccc;
}
.oga-carriage table tr {
  border-top: 1px solid #ccc;
}
.oga-carriage th,
.oga-carriage td {
  padding: 10px 0;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ccc;
}
.oga-carriage .oga-divbox {
  width: 400px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left;
}
.oga-aga {
  margin-bottom: 30px;
}
.oga-aga ul {
  height: 30px;
  background-color: #f5f5f5;
}
.oga-aga li {
  float: left;
  line-height: 30px;
  width: 80px;
  text-align: center;
}
.oga-aga .w-600 {
  width: 740px;
  text-align: center;
}
.oga-aga .aga-submit {
  display: inline-block;
  width: 40px;
  height: 24px;
  color: #388be8;
}
.revamp {
  width: 100%;
  padding: 20px;
}
.revamp .amp-form {
  padding: 0 20px;
}
.amp-itme {
  margin-top: 14px;
}
.amp-itme label {
  display: inline-block;
  width: 70px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  float: left;
  text-align: right;
}
.amp-itme input[type="text"] {
  border: none;
  width: 170px;
  padding: 0 5px;
  height: 22px;
  border: 1px solid #ccc;
  outline: medium;
  color: #666;
}
.amp-itme input.ogs-input {
  width: 70px;
}
.amp-itme input[type="radio"] {
  margin-top: -1px;
}
.amp-itme .amp-span {
  display: inline-block;
  height: 24px;
  line-height: 24px;
}
.amp-itme input.oga-street {
  width: 300px;
  height: 50px;
}
.amp-itme .map-b {
  color: #999;
  margin-left: 10px;
}
.amp-itme .map-w-110 {
  width: 110px;
}
.amp-itme .map-w-80 {
  width: 80px;
}
.amp-itme .amp-itmebox {
  padding-left: 70px;
}
.amp-itme .amp-ul {
  margin-top: 5px;
  width: 500px;
  background-color: #e6e6e6;
  padding: 0 20px;
  box-sizing: border-box;
}
.amp-itme .amp-ul li:first-child {
  margin-right: 40px;
}
.amp-itme .amp-ul li {
  height: 36px;
  line-height: 36px;
  float: left;
  margin-right: 5px;
}
.amp-itme .amp-ul li input[type="text"] {
  width: 26px;
  height: 22px;
  border: none;
  border: 1px solid #ccc;
  margin-top: -2px;
}
.amp-itme .amp-oga {
  width: 500px;
  height: 35px;
  line-height: 35px;
  padding: 0 16px;
  font-size: 12px;
  box-sizing: border-box;
}
.amp-itme .amp-oga a {
  display: block;
  color: #388be8;
}
.amp-itme .map-input {
  position: relative;
  width: 500px;
}
.amp-itme .map-input .map-tarea {
  padding: 10px 20px;
  width: 500px;
  height: 80px;
  border: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  outline: medium;
  color: #666;
}
.amp-itme .map-input .map-ogo-submit {
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 45px;
}
.amp-itme .amp-itme-sing {
  width: 500px;
  margin-left: 70px;
  _margin-left: 35px;
  border-top: 1px solid #ccc ;
  box-sizing: border-box;
  padding: 5px 0;
  margin-top: 10px;
}
.amp-itme .amp-itme-sing table {
  width: 100%;
  margin-top: 5px;
  border: 1px solid #ccc;
}
.amp-itme .amp-itme-sing table th {
  background-color: #e6e6e6;
  height: 30px;
  vertical-align: middle;
  text-align: center;
}
.amp-itme .amp-itme-sing table td {
  padding: 10px ;
  border: 1px solid #ccc;
  vertical-align: middle;
  text-align: center;
}
.amp-itme .amp-itme-sing table .map-sele select {
  width: 90px;
  padding: 0 20px;
  border: none;
  border: 1px solid #ccc;
  height: 24px;
  text-align: center;
  box-sizing: border-box;
}
.amp-itme .amp-itme-sing table .map-rmb {
  margin-top: 10px;
}
.amp-itme .amp-itme-sing table .map-rmb input[type="text"] {
  width: 38px;
  height: 22px;
  outline-color: #00843e;
}
.amp-itme .map-ogo-box {
  display: block;
  width: 48px;
  height: 24px;
  background-color: #00843e;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.amp-itme .ogo-button {
  display: block;
  color: #388be8;
}
.map-ctal-c {
  margin-top: 60px;
  padding-left: 70px;
}
.map-ctal-c .map-button {
  width: 72px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  margin-right: 30px;
  cursor: pointer;
  border: none;
  color: #333;
}
.map-ctal-c .map-botn {
  background-color: #00843e;
  color: #fff;
}
.m-t-20 {
  margin-top: 20px;
}
.oga-dem-form {
  padding: 30px 0 30px 0;
}
.oga-dem-form input[type="text"] {
  width: 160px;
  height: 22px;
  padding: 0 10px;
  border: 1px solid #ccc;
}
.oga-detais {
  width: 940px;
}
.oga-select select {
  width: 98px;
  height: 24px;
}
.too-table {
  width: 940px;
}
.too-table tr {
  border: 1px solid #ccc;
}
.too-table tr th {
  background-color: #e5e5e5;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}
.too-table tr td {
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}
.tool-box {
  display: block;
}
a.tool-link:hover {
  color: #00843e;
  text-decoration: underline;
}
.tool-strong {
  color: #666;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
}
.new-form {
  width: 940px;
}
.new-orm-l {
  width: 50%;
  padding-left: 18px;
  box-sizing: border-box;
}
.new-orm-ul li {
  float: left;
  height: 24px;
  line-height: 24px;
}
.new-orm-ul li select {
  height: 24px;
  margin-right: 5px;
  margin-top: -1px;
}
.m-t-15 {
  margin-top: 15px;
}
.new-orm-r {
  width: 50%;
  padding-left: 20px;
  box-sizing: border-box;
}
.new-orm-r .orm-r-box {
  height: 24px;
  line-height: 24px;
}
.new-orm-r .orm-r-box select {
  height: 24px;
  margin-right: 5px;
  margin-top: -1px;
}
.new-orm-r .orm-r-box .orm-new-ly {
  display: inline-block;
  width: 90px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: #00843e;
  color: #fff;
  margin-right: 10px;
}
.new-orm-r .orm-r-box b {
  color: #999;
}
.new-orm-r li label {
  display: inline-block;
  width: 60px;
  margin-right: 5px;
  text-align: right;
  float: left;
  height: 24px;
  line-height: 24px;
}
.new-orm-r input,
.new-orm-r textarea {
  border: 1px solid #ccc;
  height: 24px;
}
.new-orm-r input.orm-input-a {
  width: 340px;
}
.new-orm-r textarea.orm-input-b {
  width: 340px;
  height: 80px;
}
.new-orm-r input.orm-input-c {
  width: 64px;
  margin-right: 10px;
}
.new-orm-r .orm-input-d {
  width: 380px;
  border: 1px solid #ccc;
  float: left;
  display: none;
}
.new-orm-r li.orm-pos-rel {
  position: relative;
}
.orm-show {
  width: 380px;
  height: 100px;
  text-align: center;
  background-color: #ccc;
  float: left;
}
.orm-show a {
  display: block;
  width: 60px;
  height: 24px;
  background-color: #00843e;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin: 20px auto 10px;
}
.orm-show p {
  color: #666;
}
.orm-p {
  color: #666;
}
.orm-upload-oga {
  padding-left: 14px;
}
.orm-up-img {
  width: 224px;
  height: 238px;
  border: 1px solid #ccc;
  margin-left: 62px;
  _margin-left: 31px;
  margin-top: 12px;
  position: relative;
}
.orm-up-zbox {
  float: left;
  width: 800px;
  height: 300px;
  border: 1px solid #ccc;
}
.orm-up-file {
  padding-left: 60px;
}
.orm-submit-box {
  margin-left: 78px;
  _margin-left: 39px;
  margin-top: 130px;
}
.orm-submit-box a {
  display: inline-block;
  width: 120px;
  height: 44px;
  text-align: center;
  line-height: 44px;
}
.orm-submit-box a.orm-oga-submit {
  background-color: #00843e;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 66px;
  border: 1px solid #00843e;
}
.orm-submit-box a.orm-oga-button {
  border: 1px solid #ccc;
  background-color: #e5e5e5;
  color: #333;
  font-size: 14px;
}
.orm-hidden {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.orm-hidebox {
  width: 650px;
  background-color: #fff;
  margin: 200px auto 0;
}
.orm-hidebox h4 {
  background-color: #e5e5e5;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
}
.orm-hidebox h4 span {
  float: right;
  font-size: 18px;
  cursor: pointer;
  line-height: 30px;
}
.orm-hidebox .orm-tablebox {
  padding-top: 20px;
  padding-bottom: 20px;
}
.orm-hidebox .orm-tablebox div {
  line-height: 22px;
  color: #666;
  text-align: center;
}
.orm-table {
  width: 100%;
}
.orm-table .orm-tr {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.orm-table tr th {
  padding: 10px 0;
  width: 14%;
  text-align: center;
  vertical-align: middle;
}
.orm-table tr input[type="text"] {
  width: 42px;
  height: 24px;
  border: 1px solid #ccc;
  padding: 0 2px;
}
.orm-table tr td {
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
}
.orm-table .orm-icon {
  display: inline-block;
  width: 10px;
  height: 11px;
  cursor: pointer;
  margin-right: 5px;
}
.orm-table .orm-icon-down {
  background: url(../images/down0000000sanjiao.png) center no-repeat;
}
.orm-table .orm-icon-close {
  background: url(../images/checkbox0000000false.png) center no-repeat;
}
.orm-table .orm-icon-up {
  background: url(../images/up0000000000000000sanjiao.png) center no-repeat;
}
.ogo-add {
  font-size: 12px;
  color: #388be8;
  margin-left: 20px;
  display: block;
  height: 30px;
  line-height: 30px;
  width: 120px;
}
.orm-keep-op {
  margin-left: 18px;
  margin-top: 38px;
  margin-bottom: 20px;
}
.orm-keep {
  display: block;
  width: 122px;
  height: 30px;
  background-color: #00843e;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
}
#orm-images {
  width: 224px;
  height: 238px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.orm-bg-bgbox {
  width: 224px;
  height: 238px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.orm-bg-bgbox img {
  width: 100%;
  height: 100%;
}
.batch {
  padding: 10px 40px 60px 40px;
}
.batch-itme label {
  display: inline-block;
  width: 72px;
  height: 24px;
  line-height: 24px;
  text-align: right;
  float: left;
  margin-right: 10px;
}
.batch-itme select {
  border: 1px solid #ccc;
  height: 24px;
  margin-right: 10px;
  float: left;
}
.batch-itme .batch-boxitme {
  display: block;
  width: 88px;
  height: 22px;
  border: 1px solid #ccc;
  line-height: 22px;
  text-align: center;
  color: #333;
  margin-right: 10px;
}
.batch-itme span {
  display: block;
  float: left;
  color: #ccc;
  font-size: 12px;
  height: 24px;
  line-height: 24px;
}
.batch-itme input[type="text"] {
  width: 118px;
  height: 22px;
  border: 1px solid #ccc;
  margin-right: 10px;
  float: left;
  color: #333;
  padding: 0 5px;
}
.batch-itme span.batch-radio {
  color: #333;
  margin-right: 10px;
}
.batch-itme span.batch-radio input[type="radio"] {
  float: left;
  margin-top: 7px;
  margin-right: 5px;
}
.m-t-18 {
  margin-top: 18px;
}
.batch-itmezbx {
  padding: 20px 20px 0 20px;
}
.batch-box {
  display: inline-block;
  width: 96px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
}
.batch-submit {
  color: #fff;
  border: 1px solid #F18E03;
  background-color: #F18E03;
  margin-right: 60px;
}
.batch-subbox {
  margin-top: 80px;
  padding-left: 82px;
}
.batch-remove {
  color: #333;
  border: 1px solid #ccc;
  background-color: #fff;
}
.deposit {
  width: 980px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 10px 20px;
  height: 500px;
  position: relative;
}
.deposit-ogo-box {
  padding-left: 10px;
}
.deposit-ogo-box li {
  font-size: 12px;
  color: #333;
  margin-top: 18px;
}
.deposit-ogo-box li input[type="text"] {
  width: 136px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 0 5px;
}
.deposit-ogo-box li input.deposit-rmb {
  height: 30px;
  width: 90px;
}
.deposit-ogo-box .m-t-30 {
  margin-top: 30px;
}
.deposit-submit {
  display: block;
  width: 90px;
  height: 28px;
  text-align: center;
  color: #fff;
  line-height: 28px;
  font-size: 12px;
  border: 1px solid #F18E03;
  background-color: #F18E03;
  margin-left: 10px;
  margin-top: 50px;
  _margin-left: 5px;
}
.deposit-message {
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}
.deposit-message td {
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  color: #333;
  font-size: 12px;
}
.deposit-message td span {
  display: inline-block;
  float: left;
  margin-right: 5px;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.deposit-message td span img {
  margin-top: 2px;
}
.deposit-message td span input[type="radio"] {
  margin-top: -1px;
}
.deposit-message td a.deposit-oga {
  color: #388BE8;
  font-size: 12px;
}
.deposit-alert {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.alert-itmebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 420px;
  height: 260px;
  background-color: #fff;
}
.alert-itmebox h4 {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  background-color: #f5f5f5;
  font-size: 12px;
  color: #333;
}
.alert-itmebox .alert-displaybox {
  padding: 20px;
}
.alert-itmebox .alert-displaybox input[type="text"] {
  width: 138px;
  height: 22px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.deposit-ogo {
  display: block;
  width: 60px;
  height: 24px;
  text-align: center;
  color: #fff;
  line-height: 24px;
  font-size: 12px;
  border: 1px solid #F18E03;
  background-color: #F18E03;
  margin-top: 30px;
  margin-left: 20px;
  _margin-left: 10px;
}
.logistics-alert {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.logistics-itmebox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  width: 620px;
  height: 620px;
}
.logistics-itmebox h4 {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
}
.region-screen {
  padding: 0 18px;
  margin-top: 20px;
  display: inline-table;
  width: 100%;
}
.region-screen i.reg-checkbox {
  display: inline-block;
  width: 9px;
  height: 9px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}
.region-screen dt {
  float: left;
  width: 76px;
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  min-height: 32px;
  cursor: pointer;
}
.region-screen dd {
  padding-right: 10px;
  height: 26px;
  text-align: left;
  min-width: 85px;
  display: inline-block;
  float: left;
  cursor: pointer;
  position: relative;
}
.region-screen dd:hover .reg-ogo-box {
  display: block;
}
.region-screen dd div.reg-ogo-box {
  display: none;
  min-width: 250px;
  padding: 10px;
  box-sizing: border-box;
  width: auto;
  position: absolute;
  top: 26px;
  border: 1px solid #ccc;
  z-index: 999;
  background-color: #fff;
}
.region-screen dd div.reg-ogo-box div.itme-lilist {
  width: 50%;
  float: left;
}
.region-screen dd div.reg-ogo-box label {
  cursor: pointer;
}
.region-screen dd b.regbox-heise {
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -10px;
  left: 20px;
}
.region-screen dd b.regbox-heise em.regbox-baise {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: 2px;
  left: -8px;
  z-index: 999;
}
.checkall {
  background: url(../images/vvvvvvvvvvvvvvvvvvvvvv.png) center no-repeat;
}
.checkoff {
  background: url(../images/zzzzzzzzzzzzzzzzzzzz.png) center no-repeat;
}
.ogo-indexbox {
  display: inline-block;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 10px;
}
.ogo-og-a {
  border: 1px solid #00843e;
  background-color: #00843e;
  color: #fff;
}
.ogo-og-b {
  color: #333;
  border: 1px solid #ccc;
}
